#cv-right h3, #cv-content .head{
	background: #7a0026;
	border-left: 18px solid #f8cb4e
}
#cv-top h1{
	color:#7a0026;
}
.bar-exp{
	border: 1px solid #7a0026
}
.bar-exp div{
	background: #7a0026
}
#sortable .cvi-date{
	background: url('fa-1-7a0026.png') left center no-repeat;	
}
#sortable .cvi-user{
	background: url('fa-2-7a0026.png') left center no-repeat;	
}
#sortable .cvi-phone{
	background: url('fa-3-7a0026.png') left center no-repeat;	
}
#sortable .cvi-envelope-square{
	background: url('fa-4-7a0026.png') left center no-repeat;	
}
#sortable .cvi-map-marker{
	background: url('fa-5-7a0026.png') left center no-repeat;	
}
#sortable .cvi-info{
	background: url('fa-6-7a0026.png') left center no-repeat;	
}