#form-cv {
	font-family: "Roboto", sans-serif;
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color: #000;
}
.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}
#sortable .cvo-block .box-content {
	margin: 0;
	width: 100%;
	margin-top: 15px;
	color: #000;
	margin-bottom: 20px;
}

#box03 .exp {
	float: left;
	margin: 0;
	width: 90%;
	padding-bottom: 30px;
	padding-top: 10px;
}

#cvo-profile {
	display: block;
}

.chu {
	float: right;
	width: 68.5%;
	margin-right: 10px;
}

#cv-content {
	width: 46.6%;
	text-align: justify;
	float: right;
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: 34px;
}

#cv-main {
	text-align: justify;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	width: 41.3%;
	margin-left: 36px;
}

#cv-right .ir {
	padding: 0;
	margin: 0;
}

#cv-main #cv-right {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}

#cv-main #cv-right .ir #sortable {
	padding: 0;
	margin: 0;
}

#cv-right .ir #sortable .block {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}

p.skill-name input {
	color: #fff !important;
}

#cv-right #box03 .ctbx {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	padding-bottom: 5px;
	float: left;
}

#cv-top {
	width: 100%;
	height: 370px;
	background-image: url(hd.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.all {
	float: left;
	clear: both;
	width: 100%;
}

#cv-top h1 {
	padding: 0;
	margin: 0;
	font-size: 32px;
	font-family: "Roboto";
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #000;
	font-weight: bold;
	text-align: center;
	width: 100%;
	float: left;
	padding-bottom: 5px;
}

#cv-top h1 span {
	letter-spacing: 1px;
}

#box-hvt {
	float: right;
	width: 100%;
	padding: 0;
	margin: 0;
}

#cv-right .cvo-block .head div {
	color: #fff;
}

.innertext {
	margin: 0px;
	padding: 0px;
	width: 29%;
	float: left;
	color: white;
}

#cv-top h2 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
	font-weight: unset;
	font-size: 18px;
	color: #000;
	text-align: center;
	padding-top: 5px;
	float: left;
}

.box-01 p {
	overflow: hidden;
}

#cv-content p {
	margin-bottom: 5px
}

#cv-content .ir a {
	color: #2ebb2f
}

#cv-right h3, #cv-content .head {
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	padding-top: 0px;
}

#cv-content h3 {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: unset;
	margin: 0px;
	padding: 0px;
	color: #292929;
}

#cv-content #block01 h3 {
	background: url(icp_03.png)no-repeat;
	background-position: left;
	background-size: 3% 45%;
	padding-left: 20px;
}

#cv-content #block02 h3 {
	background: url(icp_07.png)no-repeat;
	background-position: left;
	background-size: 3.3% 45%;
	padding-left: 20px;
}

#cv-content #block02 .exp-content {
	margin: 0;
	padding: 0;
	padding-left: 0px;
}

#cv-content #block03 h3 {
	font-weight: unset;
	text-transform: unset;
}

#cv-content .exp-date {
	float: none;
}

#cv-content #block01 .exp-date {
	display: none;
}

#cv-content #block03 .exp-date {
	display: none;
}

#cv-content #block04 .exp-date {
	display: none;
}

#cv-content #block05 .exp-date {
	display: none;
}

#cv-content p.h3 {
	margin: 0px;
	padding: 0px;
}

#cv-content .cvo-block {
	padding: 0 !important;
	float: left;
	width: 100%;
}

#cv-content .ir .cvo-block {
	padding: 0;
}

.ctbx {}

#cv-content span {
	display: inline-block;
	z-index: 9999;
}

.ctbx {
	margin-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.ctbx:hover {
	box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
	display: block;
}

[cvo-form-field] {
	cursor: text;
}

#cvo-profile-avatar-wraper {
	width: 62.3%;
	height: 215px;
	padding: 0;
	margin: 0;
	float: left;
	display: table;
	padding-top: 62px;
	padding-left: 2px;
}

#cv-profile-sex::before {
	color: #000;
}

#cv-profile-birthday::before {
	color: #000;
}

#cv-profile-address::before {
	color: #000;
}

#cv-profile-email::before {
	color: #000;
}

#cv-profile-phone::before {
	color: #000;
}

#cvo-profile-avatar-wraper .wimg {
	width: 186px;
	height: 186px;
	float: right;
	display: unset !important;
	border-radius: 50%;
	border: 3px solid #a82125;
}

#cvo-profile-avatar-wraper img {
	width: 186px;
	height: 186px;
	float: none;
	border-radius: 50%;
}

#cvo-profile .box-dm {
	width: 198px;
	height: 198px;
	padding: 0;
	margin: 0;
	float: left;
	display: table;
	background: url(anh.png)no-repeat;
	background-size: 100% 100%;
	clear: both;
	z-index: 1;
	margin-top: -286px;
	margin-left: 300px;
	position: absolute;
}

.box-01 {
	float: left;
	width: 100%;
	height: 370px;
}

#cvo-profile {
	display: block;
	float: left;
	width: 100%;
	height: 370px;
}

#line-seperate {
	height: 25px;
}

.bar-exp div {
	float: left;
	height: 17px;
	background: #a82125;
	margin-top: 0px;
}

.exp-fake {
	float: left;
	width: 100%;
	height: 22px;
	background: url(bar.png)no-repeat;
	background-size: 100% 100%;
	margin-top: -18.5px;
	z-index: 1;
}

.ctbx .skill-name {
	margin: 0px;
	padding: 0px;
	color: #000;
	float: left;
	width: 100%;
	padding-top: 5px;
}

.bar-exp {
	background: #263039;
	height: 18px;
	float: left;
	margin-bottom: 0px;
	padding: 0px;
	float: left;
	width: 99.5%;
}

.bar-value-exp {
	width: 100%
}

.bar-value-exp input[type="text"] {
	color: #000;
	width: 95%;
	height: 70px;
}

.icoweb label {
	display: block;
}

#cv-right .block {
	position: relative !important;
	padding: 0;
	margin: 0;
}

.ic .icoweb {
	width: 85%;
	text-align: left;
	padding-left: 10px;
	float: left;
	color: #000;
	padding-top: 5px;
}

#sortable .ic {
	margin: 0;
}

.ic {
	width: 100%;
	float: left;
	color: #000;
	margin: 0;
	padding-bottom: 10px;
}

#prof [contentEditable=true] {
	width: 100%;
	float: left;
}

#prof .icoweb, #prof .icoweb span {
	height: auto;
}

div#prof {
	float: left;
	width: 100%;
	padding: 15px 0px;
}

#form-cv .icf1 {
	float: left;
	margin-bottom: 0;
	width: 35px;
	line-height: 35px;
	height: 35px;
	text-align: center;
	background: url(icl_03.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#form-cv .icf2 {
	float: left;
	margin-bottom: 0;
	width: 35px;
	line-height: 35px;
	height: 35px;
	text-align: center;
	background: url(icl_06.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#form-cv .icf3 {
	float: left;
	margin-bottom: 0;
	width: 35px;
	line-height: 35px;
	height: 35px;
	text-align: center;
	background: url(icl_09.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#form-cv .icf4 {
	float: left;
	margin-bottom: 0;
	width: 35px;
	line-height: 35px;
	height: 35px;
	text-align: center;
	background: url(icl_13.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#form-cv .icf5 {
	float: left;
	margin-bottom: 0;
	width: 35px;
	line-height: 35px;
	height: 35px;
	text-align: center;
	background: url(icl_17.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

.icf .fa {
	font-size: 20px;
	color: #000;
	margin: 0;
}

.fa {
	font-size: 14px;
}

.container {
	width: 100%;
}

.sum {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}

#cv-right .block {
	margin-bottom: 10px;
	position: relative;
	padding: 0;
	padding-bottom: 20px;
}

#cv-content .head {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	float: left;
	width: 100%;
}

#block01 .head {
	background: url(tt_03.png)no-repeat;
	background-position: right;
	background-size: 90% 100%;
	height: 30px;
}

#block02 .head {
	background: url(tt_07.png)no-repeat;
	background-position: right;
	background-size: 90% 100%;
	height: 25px;
	margin-top: 23px;
}

#block03 .head {
	background: url(tt_09.png)no-repeat;
	background-position: right;
	background-size: 90% 100%;
	height: 25px;
	margin-top: 14px;
}

#block04 .head {
	background: url(tt_11.png)no-repeat;
	background-position: right;
	background-size: 90% 100%;
	height: 25px;
	margin-top: 23px;
}

#block05 .head {
	background: url(tt_12.png)no-repeat;
	background-position: right;
	background-size: 90% 100%;
	height: 25px;
	margin-top: 4px;
}

#experience-table .ctbx {
	padding-left: 20px;
}

.ifo {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}

#cv-right h3 {
	width: 100%;
	height: 30px;
	margin: 0;
	color: #ffffff;
	padding: 0;
	float: left;
	line-height: 30px;
	text-align: center;
	background: #b82731;
}

#cvo-experience-blocktitle {
	color: #000;
	text-align: left;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	width: 75%;
	padding-left: 93px;
	font-size: 18px;
	/*display: none;*/
}

#exp1 .exp-content {}

#bg {
	background: #F58284;
	text-align: left;
}

div#experience-table {
	margin: 0px;
	width: 94%;
	padding-top: 10px;
	float: right;
	color: #000;
}

.tt-box1 {
	padding: 0;
	margin: 0 auto;
	height: 31px;
	width: 100%;
	float: left;
	line-height: 35px;
	background: url(t_03.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

div#cv-boxtitle {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	text-align: left;
	float: left;
	width: 84%;
	padding-left: 52px;
	/*display: none;*/
}

.ski {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 100%;
	float: left;
	line-height: 35px;
	background: url(t_09.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#box02 .cum {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 100%;
	float: left;
	line-height: 35px;
	background: url(t_07.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#box04 .cum {
	padding: 0;
	margin: 0 auto;
	height: 31px;
	width: 100%;
	float: left;
	line-height: 30px;
	background: url(t_11.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#box05 .cum {
	padding: 0;
	margin: 0 auto;
	height: 35px;
	width: 100%;
	float: left;
	line-height: 35px;
	background: url(t_14.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#box06 .cum {
	padding: 0;
	margin: 0 auto;
	height: 31px;
	width: 100%;
	float: left;
	line-height: 35px;
	background: url(t_16.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#box07 .cum {
	padding: 0;
	margin: 0 auto;
	height: 34px;
	width: 100%;
	float: left;
	line-height: 25px;
	background: url(t_18.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

div#box01 {
	float: left;
	width: 100%;
	padding-top: 50px;
}

.footer {
	background: url(ft.png)no-repeat;
	background-size: 100% 100%;
	height: 112px;
	float: left;
	width: 100%;
}

div#sort_block {
	padding: 0;
	margin: 0;
}

.cvo-block .blockControls {
	margin: 0px;
	padding: 0px 5px;
}

#block01 {
	background: url(bg_01.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#block02 {
	background: url(bg_03.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#block03 {
	background: url(bg.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#block04 {
	background: url(bg_08.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#block05 {
	background: url(bg_09.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}

#block01 .form {
	float: left;
	height: 16px;
	width: 100%;
	background: url(bgr.png)no-repeat;
	background-position: bottom;
}

#block02 .form {
	float: left;
	height: 16px;
	width: 100%;
	background: url(bgr.png)no-repeat;
	background-position: bottom;
}

#block03 .form {
	float: left;
	height: 16px;
	width: 100%;
	background: url(bgr.png)no-repeat;
	background-position: bottom;
}