#cv-top {
    width: 100%;
    height: 370px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
#cv-content #block01 h3{
  background: url(icp3_03.png)no-repeat;
  background-position: left;
  background-size: 3% 45%;
  padding-left: 20px;
}
#cv-content #block02 h3{
  background: url(icp3_07.png)no-repeat;
  background-position: left;
  background-size: 3.3% 45%;
  padding-left: 20px;
}
#cvo-profile-avatar-wraper .wimg {
    width: 186px;
    height: 186px;
    float: right;
    display: unset !important;
    border-radius: 50%;
    border: 3px solid #a821a6;
}
#cvo-profile .box-dm{
    width: 198px;
    height: 198px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(anh3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -286px;
    margin-left: 300px;
    position: absolute;
}
.bar-exp div {
    float: left;
    height: 17px;
    background: #a821a6;
    margin-top: 0px;
}

#form-cv .icf1 {
    float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height:35px;
    text-align: center;
    background: url(icl3_03.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#form-cv .icf2 {
    float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height:35px;
    text-align: center;
    background: url(icl3_06.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#form-cv .icf3 {
    float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height:35px;
    text-align: center;
    background: url(icl3_09.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#form-cv .icf4 {
    float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height:35px;
    text-align: center;
    background: url(icl3_13.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#form-cv .icf5 {
    float: left;
    margin-bottom: 0;
    width: 35px;
    line-height: 35px;
    height:35px;
    text-align: center;
    background: url(icl3_17.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#block01 .head{
    background:url(tt3_03.png)no-repeat;
    background-position: right;
    background-size: 90% 100%;
    height:30px;
}
#block02 .head{
    background:url(tt3_07.png)no-repeat;
    background-position: right;
    background-size: 90% 100%;
  height:25px;
  margin-top: 23px;
}
#block03 .head{
    background:url(tt3_09.png)no-repeat;
    background-position: right;
    background-size: 90% 100%;
  height:25px;
  margin-top: 14px;
}
#block04 .head{
    background:url(tt3_11.png)no-repeat;
    background-position: right;
    background-size: 90% 100%;
  height:25px;
  margin-top: 23px;
}
#block05 .head{
    background:url(tt3_12.png)no-repeat;
    background-position: right;
    background-size: 90% 100%;
  height:25px;
  margin-top: 4px;
}
.tt-box1 {
    padding: 0;
    margin: 0 auto;
    height: 31px;
    width: 100%;
    float: left;
    line-height: 35px;
    background:url(t3_03.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
.ski {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    float: left;
    line-height: 35px;
    background:url(t3_09.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box02 .cum {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    float: left;
    line-height: 35px;
    background:url(t3_07.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box04 .cum {
    padding: 0;
    margin: 0 auto;
    height: 31px;
    width: 100%;
    float: left;
    line-height: 30px;
    background:url(t3_11.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box05 .cum {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    float: left;
    line-height: 35px;
    background:url(t3_14.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box06 .cum {
    padding: 0;
    margin: 0 auto;
    height: 31px;
    width: 100%;
    float: left;
    line-height: 35px;
    background:url(t3_16.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box07 .cum {
    padding: 0;
    margin: 0 auto;
    height: 34px;
    width: 100%;
    float: left;
    line-height: 25px;
    background:url(t3_18.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
.footer {
    
    background:url(ft3.png)no-repeat;
    background-size: 100% 100%;
    height:112px; 
    float: left;
    width: 100%;
}
#block01{
  background: url(bg3_01.png)no-repeat;
  background-position: left;
background-size: 100% 100%
}
#block02{
  background: url(bg3_03.png)no-repeat;
  background-position: left;
background-size: 100% 100%
}
#block03{
  background: url(bg3.png)no-repeat;
  background-position: left;
background-size: 100% 100%
}
#block04{
  background: url(bg3_08.png)no-repeat;
  background-position: left;
background-size: 100% 100%
}
#block05{
  background: url(bg3_09.png)no-repeat;
  background-position: left;
background-size: 100% 100%
}

#block01 .form{
float: left;
height:16px;
width: 100%;
  background: url(bgr3.png)no-repeat;
  background-position: bottom;
padding-left: 8px;
}
#block02 .form{
float: left;
height:16px;
width: 100%;
  background: url(bgr3.png)no-repeat;
  background-position: bottom;
}
#block03 .form{
float: left;
height:16px;
width: 100%;
  background: url(bgr3.png)no-repeat;
  background-position: bottom;
}